/* Main List Grid Styles */
.listGrid {
    margin: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fill, minmax(200px, 300px));
    display: grid;
    justify-content: center;
    align-content: end;
    grid-gap: 10px;
  }
  
  .listCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 300px;
    background-color: var(--deep-color);
  }
  
  .listCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .listCardBody {
    padding: 2px 16px;
  }