/* Navbar Styling */
.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: -10px -10px 20px -10px;
    padding: 0.5em 10px;
    background: var(--deep-color);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    margin: 0.5em 2em;
    padding: 0.5em;
    color: whitesmoke;
    border-radius: 6px 12px 6px 12px;
  }
  
  .navigation > li:not(:first-child) a:hover {
    background: var(--neutral-color);
  }
  
  .navSpacer {
    width: 90%;
  }