@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");

:root {
  --main-bg-color: #d9dcc7;
  --secondary-bg-color: #cac6a8;
  --neutral-color: #6c969e;
  --deep-color: #376371;
  --dark-color: #304a65;
  background-color: var(--main-bg-color);
  font-family: Roboto Serif;
}

/* Main Group Grid Styles */
.groupGrid {
  margin: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(200px, 300px));
  display: grid;
  justify-content: center;
  align-content: end;
  grid-gap: 10px;
}

.groupCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 300px;
  background-color: var(--secondary-bg-color);
}

.groupCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.groupCardBody {
  padding: 2px 16px;
}

/* TODO: SIDE NAV STYLING */
/* .navigation {
  list-style: none;
  padding: 0 5px;
  margin: 0 10px 0 0;
  height: 100%; 
  width: 100px; 
  position: absolute;
  z-index: 1; 
  top: 0; 
  left: 0;
  background: var(--deep-color);
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
} 

.navigation > li:not(:first-child) {
  margin-top: 100px;
}

*/

/* Navbar Styling */
.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: -10px -10px 20px -10px;
  padding: 0.5em 10px;
  background: var(--deep-color);
}

.navigation a {
  text-decoration: none;
  display: block;
  margin: 0.5em 2em;
  padding: 0.5em;
  color: whitesmoke;
  border-radius: 6px 12px 6px 12px;
}

.navigation > li:not(:first-child) a:hover {
  background: var(--neutral-color);
}

.navSpacer {
  width: 90%;
}

/* Search Form Styles */
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchForm * {
  margin: 10px;
  padding: 10px;
}

.searchFormButton {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin: 5px;
  transition: margin 0.3s ease-in-out;
  background-color: var(--neutral-color);
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.searchFormButton:hover {
  margin-top: -2px;
}

.searchFormInput {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 0;
  border-bottom: 2px solid var(--neutral-color);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.searchFormInput:hover {
  border-color: var(--deep-color);
}
